@font-face {
    font-family: SF-Pro;
    src: url('../fonts/SF-Pro-Text-Medium.otf');
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 44px;

    @media screen and (max-width: 480px) {
        font-size: 28px;
    }
}

img {
    width: 50px;
    border-radius: 50%;
}

form {
    max-width: 420px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: SF-Pro;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: center;
    font-family: SF-Pro;
    margin-top: 30px;
}

.success-block {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #e8e8e8;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.success-icon {
    width: 260px;
}

.success-icon > svg > path {
    fill: #00b300;
}

.success-text {
    text-align: center;
}